{% extends 'base_cabinet.html' %}
{% load staticfiles %}

{% block cab_content %}
    <h1>SHP – Simple Hide to PDF</h1>
    <h1></h1>
    <p>Привет, пользователь бескрайнего рунета!</p>
    Перед вами Just4Fun-проект по сокрытию данных внутри PDF документов. <br>
    С помощью данного портала вы можете скрывать текстовую информацию внутри PDF документов <br>
    (это называется стеганографией) </p>
    <p>Схема работы очень простая:</p>
    <img src="{% static 'images/schema.png' %}" alt="Schema" height="328" width="710">

    <h4>Вкрапление</h4>
    <ol>
        <li>Придумайте пароль (и запомните его!)</li>
        <li>Напишите сообщение для сокрытия</li>
        <li>Выберете pdf документ для вкрапления информации</li>
        <li>Нажмите кнопку <b>вкрапить</b></li>
        <li>Полученный документ – это файл с вкрапленным сообщением</li>
    </ol>

    <h4>Извлечение</h4>
    <ol>
        <li>Введите пароль (тот самый, который запомнили)</li>
        <li>Выберете pdf документ со скрытым сообщением</li>
        <li>Нажмите кнопку <b>извлечь</b></li>
        <li>Если пароль верен и документ содержит скрытый текст, система выдаст вам сокрытое сообщение</li>
    </ol>
{% endblock %}