{% extends 'base_login.html' %}

{% block alert %}
     <div class="alert alert-info">
       {% if baduser == True %}
           <strong>Incorrect credentials!</strong>
       {% endif %}
     </div>
{% endblock %}


{% block signxx-body %}
    <div class="signin-box">
        <div class="signin-heading">
            <h3>Existing user? Sign in</h3>
        </div>
        <div class="signin-body">
          <form role="form" method="post" id="new_user" class="new_user" action="/users/auth/" accept-charset="UTF-8">
            {% csrf_token %}
              <div class="form-group">
                 <input type="text" placeholder="Username" name="user[login]" id="user_name" autofocus="autofocus" class="form-control top" >
                 <input type="password" placeholder="Password" name="user[password]" id="user_password" class="form-control bottom">
              </div>
              <div class="form-group">
                 <input type="submit" value="Sign in" name="commit" class="btn btn-save">
              </div>
          </form>
        <h5>No credentials? <a href="/users/signup/">Sign up NOW!</a></h5>
        </div>
    </div>
{% endblock %}
