{% extends 'base_login.html' %}
{% load bootstrap %}

{% block signxx-body %}
    <div class="prepend-top-20">
        <div class="signup-box">
            <div class="signup-heading">
                <h3>New user? Create an account</h3>
            </div>
            <div class="signup-body">
                <form method="post" id="new_user" class="new_user" action="/users/signup/" accept-charset="UTF-8">
                   {% csrf_token %}

                   {{ form|bootstrap }}

                    <!--
                   <div>
                     <input type="text" required="required" placeholder="Name" name="user[name]" id="user_name" class="form-control top">
                   </div>
                   <div>
                     <input type="text" required="required" placeholder="Username" name="user[username]" id="user_username" class="form-control middle">
                   </div>
                   <div>
                     <input type="email" value="" required="required" placeholder="Email" name="user[email]" id="user_email" class="form-control middle">
                   </div>
                    -->
                   <div>
                     <input type="submit" value="Sign up" name="commit" class="btn-create btn">
                   </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}