{% extends 'base_cabinet.html' %}
{% load bootstrap3 %}


{% block alert %}
    <strong>{{ status }}</strong>
{% endblock %}


{% block cab_content %}
    <h2>Вкрапление в PDF / Embedding into PDF</h2>
    <div class="form-group">
        <form method="post" id="submit_stego" class="submit_stego" action="/submit/" accept-charset="UTF-8" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {% bootstrap_form attributeform %}
                {% bootstrap_form uploadform %}
            </table>
           <div>
             <input type="submit" value="Вкрапить / Embed" name="commit" class="btn-create btn">
           </div>
        </form>
    </div>
{% endblock %}